:root {
    --input-invalid-color: #FA2333;
    --input-success-color: #1cca7c;
    --primary-color: #ab66eb;
    --primary-color-darker: #944bd8;
    --bg-color-start: #f8f8f8;
    --bg-color-end: #f2f2f2;
    --fore-color: #393535;
    --reminder-list-bg-color: #e8e8e8;
    --input-color: #ffffff;
    --sidebar-color: #ebebeb;
    --nav-foldout-color: #ffffff;
    
    --reminder-bg-color: #ffffff;
    --reminder-bg-darker: #dadada;
    --outline-buttton-color: #ffffff;
    --popup-accent-color: #9e9e9e;
    --select-options-color: #dddddd;
    --settings-radio-hover: rgba(200, 200, 200, 0.25);
    color-scheme: light;
    
    --header-fallback-height: 1rem;
    --header-height: env(titlebar-area-height, var(--header-fallback-height));

    --checkbox-height: 1.75rem;
    --checkbox-width: 4rem;
    --checkbox-margin: 8px;

    --focus-visible-color: dodgerblue;
    --focus-visible-outline: 3px solid var(--focus-visible-color);

    --input-font-size: 1.25rem;
    --input-char-size: 40ch;

    --nav-sidebar-width: 4rem;
    --nav-foldout-width: 0rem;
    --nav-width: calc(var(--nav-sidebar-width) + var(--nav-foldout-width));
}

:root:not(:has(nav)) {
    --nav-width: 0;
}

:root:not(:has(.nav__foldout)) {
    --nav-foldout-width: 0;
}

:root:not(:has(.nav__sidebar)) {
    --nav-sidebar-width: 0;
}

::backdrop {
    --header-height: env(titlebar-area-height, var(--header-fallback-height));
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color-start: #1f1f27;
        --bg-color-end: #1d1d22;
        --reminder-list-bg-color: #2c2c32;
        --input-color: #5a5757;
        --input-invalid-color: #FA2333;
        --input-success-color: #1cca7c;
        --reminder-bg-color: #525257;
        --reminder-bg-darker: #4a4a4d;
        --outline-buttton-color: transparent;
        --popup-accent-color: #8c8c8c;
        --fore-color: #ece0e0;
        --select-options-color: #565151;
        --focus-visible-color: #FFEBCD;
        --settings-radio-hover: rgba(175, 175, 175, 0.1);
        --sidebar-color: #0e0e0e;
        --nav-foldout-color: #242424;
        color-scheme: dark;
    }
    
    .reminder-form div .units {
        background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    }
}

@media (prefers-reduced-motion) {
    .reminder.ignored::after {
        animation: ignored-reminder-pulse 2400ms ease-out infinite;
    }

    .reminder.ignored .reminder__acknowledge > svg {
        animation: shake 3000ms ease-in-out infinite;
    }

    .combobox-wrapper > svg {
        transition: transform 0;
    }

    .combobox-wrapper ul[role="listbox"] {
        transition: none;
    }

    label.radio input[type="radio"]:checked + span::after {
        transition: none;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: linear-gradient(135deg, var(--bg-color-start), var(--bg-color-end)) !important;
    min-block-size: 100dvh;
    margin: auto;
    height: 100dvh;
    overflow: hidden;
    color: var(--fore-color);
}

main {
    margin: auto auto auto var(--nav-width);
    height: calc(100dvh - env(titlebar-area-height, var(--header-fallback-height)));
    padding: 1rem;
    overflow: auto;
}

.preload *,
.preload *::after,
.preload *::before {
    transition: none !important;
    visibility: hidden !important;
}

.titlebar {
    color: white;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    font-size: .75em;
    font-weight: bold;
    position: relative;

    padding-left: calc(env(titlebar-area-x, 0) + 4px);

    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;

    top: env(titlebar-area-y, 0);
    height: var(--header-height);
    min-width: env(titlebar-area-width, 100%);

    isolation: isolate;
    z-index: 999;
}

.titlebar img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

section {
    display: flex;
    justify-content: start;
    align-items: center;
    color: inherit;
    flex-direction: column;
}

/* ==================================
NAV BAR
================================== */

nav {
    position: absolute;
    left: 0;
    height: calc(100% - env(titlebar-area-height, var(--header-fallback-height)));
    width: var(--nav-width);
    isolation: isolate;
    z-index: 99;

    display: grid;
    grid-template-columns: var(--nav-sidebar-width) var(--nav-foldout-width);

    box-shadow: 0px 0 10px 5px rgba(0,0,0,0.4);
}

nav hr {
    border: 2px solid var(--input-color);
    border-radius: 4px;
    width: 100%;
    margin: 4px 0;
}

.nav__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    z-index: 1;
    padding: 0.5rem;

    background-color: var(--sidebar-color);
    box-shadow: 0px 0 10px 0px rgba(0,0,0,0.4);
}

.nav__foldout {
    width: 100%;
    background-color: var(--nav-foldout-color);
    padding: min(0.5rem, max(var(--nav-foldout-width), 0rem));
}

.settings-nav legend {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--popup-accent-color);
}

.settings-nav label {
    width: 100%;
    cursor: pointer;
}

.settings-nav label:hover span {
    background-color: var(--settings-radio-hover);
}

.settings-nav span {
    width: 100%;
    border-radius: 4px;
    padding: 0.1em;

    font-size: 1.25rem;
}

.settings-nav label input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.settings-nav label input[type="radio"]:focus-visible + span {
    outline: var(--focus-visible-outline);
}

.settings-nav label input[type="radio"]:checked + span {
    background-color: var(--select-options-color);
}

.settings-nav {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;
    margin: 0;
}

*[visible="false"] {
    display: none !important;
    position: absolute !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* ==================================
REMINDER LIST
================================== */

#reminder-list {
    --max-width: 52.5em;
    height: 100%;

    width: 90%;
    min-width: min(fit-content, var(--max-width));
    max-width: var(--max-width);
    margin: 0 10px;
    min-height: 6.5rem;
}

#reminder-list > * {
    font-size: 1.35rem;
}

#reminder-list > * {
    margin: 16px;
}

#reminder-list > ul {
    display: flex;
    flex-direction: column;
    align-items:start;

    background: var(--reminder-list-bg-color);
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    list-style: none;
    list-style-type: none;
    margin: 0;
    gap: 8px;

    width: 100%;
}

#reminder-list > ul:has(p) {
    justify-content: center;
}

#reminder-list > ul > p {
    width: 100%;
    text-align: center;
    font-size: 1.5ch;
    opacity: 0.8;
}

#reminder-list > button {
    width: 100%;
}

#reminder-list li > button {
    min-width: 60px;
    padding: 5px;
    aspect-ratio: 1;
}

/* ==================================
REMINDERS
================================== */

.reminder {
    position: relative;

    --grid-button-width: 4rem;
    display: grid;
    grid-template-columns: minmax(13em, 7fr) var(--grid-button-width);
    grid-template-rows: 50% 50%;
    
    border-radius: 8px;
    padding: 10px;
    margin: 0 2px;
    box-shadow: 0 1px 2px black;
    background: var(--reminder-bg-color);
    min-width: fit-content;
    width: 100%;
    min-height: 4em;
    gap: 0 10px;

    transition: 250ms background;
}

.reminder :where(h4, p) {
    transition: 250ms opacity;
}

.reminder .reminder__name-wrapper {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    align-items: center;
    gap: 8px;
}

.reminder h4 {
    margin: 0;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.reminder p {
    grid-row: 2;
    align-self: center;
    margin: 0;
    font-size: 1.7ch;
}

.reminder span {
    width: min-content;
}

.reminder:not(:hover, :focus-within):not(:has(.reminder__pause-toggle__input:checked)) :is(h4, p) {
    opacity: 0.6;
}

.reminder:hover,
.reminder:focus-within {
    background-color: var(--reminder-bg-darker);
}

#reminder__context-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    list-style: none;
    padding: 8px;
    margin: 0;

    border-radius: 6px;
    background-color: var(--sidebar-color);

    transition: 250ms opacity;
}

#reminder__context-menu hr {
    border-color: var(--popup-accent-color);
}


.reminder__context-menu__item a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 4px 2px;
    justify-content: space-between;
    
    text-decoration: none;
    color: inherit;

    border-radius: 4px;
    transition: 250ms background-color;
}

.reminder__context-menu__item[action="destructive"],
.reminder__context-menu__item[action="destructive"] svg {
    color: var(--input-invalid-color);
    fill: var(--input-invalid-color);
}

.reminder__context-menu__item:hover {
    background-color: var(--input-color);
}

.reminder__context-menu__item svg {
    fill: var(--fore-color);
    order: 2;
}

.reminder__more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    min-width: 1.25em;
    width: 1.25em;

    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5) !important;
}

.reminder:hover .reminder__more-button,
.reminder:focus-within .reminder__more-button {
    opacity: 1;
}

.reminder__more-button {
    border-radius: 4px;
    transition: 250ms background-color;
}

.reminder__more-button:hover {
    background-color: var(--reminder-bg-color);
}

.reminder__more-button svg {
    pointer-events: none;
}

.reminder button,
.reminder div {
    grid-row: 1 / 3;
    place-self: center auto;
}

.reminder .next-timer-play {
    text-decoration: underline var(--primary-color);
    font-style: normal;
    font-weight: normal;
    text-align: center;
    cursor: pointer
}

.reminder.ignored::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    outline: 1px solid var(--input-invalid-color);
    animation: ignored-reminder-pulse 1200ms ease-out infinite;
    pointer-events: none;
}

.reminder.ignored::before {
    content: '';
    inset: 0;
    position: absolute;
    margin: auto;
    border: 2px solid var(--input-invalid-color);
    border-radius: inherit;
    pointer-events: none;
}

.reminder.ignored .reminder__acknowledge > svg {
    animation: shake 1200ms ease-in-out infinite;
}

@keyframes ignored-reminder-pulse {
    0% {
        outline-offset: 0px;
        outline-width: 0;
    }

    10% {
        outline-offset: 0px;
        outline-width: 5px;
    }

    30% {
        opacity: 1;
    }

    95% {
        outline-offset: 10px;
        opacity: 0;
    }

    100% {
        outline-offset: 10px;
        opacity: 0;
        outline-width: 5px;
    }
}

/* ==================================
INPUTS
================================== */

input,
button,
textarea,
select {
    background-color: var(--input-color);
    border-radius: 4px;
    color: var(--fore-color);
    transition: all 250ms;
    padding: 8px;
    font-size: var(--input-font-size);
    border: 2px solid transparent;
    box-shadow: 0 0.75px 4px black;
    transition: opacity 250ms;
}

input:has(+.units) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[use-units] {
    text-align: right;
}

input[use-units]:focus {
    text-align: left;
}

input:disabled { 
    opacity: 0.5;
}

button {
    padding: 20px;
    border-radius: 10px;
    border-width: 2px;
    position: relative;
    transition: all 250ms;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    filter: brightness(60%);
}

button[action="destructive"] {
    background-color: var(--outline-buttton-color);
    border-color: var(--input-invalid-color);
    color: var(--input-invalid-color);
    backdrop-filter: brightness(125%);
}

button:has(svg) {
    display: flex;
    align-items: center;
    justify-content: center;
}

button svg {
    width: 100%;
    height: 100%;
}

button.primary svg {
    fill: white;
}

button[action="destructive"] svg {
    fill: var(--input-invalid-color);
    transition: fill 250ms;
}

button.svg-button {
    background-color: transparent;
    border: none;
    aspect-ratio: -1;
    box-shadow: none;
    padding: 0;
}

button.svg-button:not(:disabled):hover,
button.svg-button:not(:disabled):focus-visible {
    background-color: transparent;
}

button.svg-button svg {
    fill: var(--fore-color);
    transition: fill 250ms;
    inset: 0;
}

button.svg-button:not(:disabled):hover > svg,
button.svg-button:not(:disabled):focus-visible > svg {
    fill: var(--primary-color);
}

button:focus-visible, 
textarea:focus-visible,
select:focus-visible,
input:focus-visible,
input[type="checkbox"]:focus-visible + label::after {
    outline: var(--focus-visible-outline);
}

button:not(:disabled):hover,
button:not(:disabled):focus-visible {
    background-color: var(--primary-color-darker)
}

button[action="destructive"]:not(:disabled):hover,
button[action="destructive"]:not(:disabled):focus-visible {
    color: white;
    background-color: var(--input-invalid-color);
}

button[action="destructive"]:not(:disabled):hover svg,
button[action="destructive"]:not(:disabled):focus-visible svg {
    color: white;
    fill: white;
}

.reminder-form textarea {
    display: block;
    resize: none;
}

.reminder-form input:not(:placeholder-shown):invalid,
[dirty]:not(:valid, :disabled, :focus, [readonly]):is(input, textarea, select) {
    border-color: var(--input-invalid-color);
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;

    /* So they cannot be clicked */
    z-index: -1;
}

/*
Forces the actual checkbox to be confined to the parent div.
This helps solve the problem where the checkbox goes off in lala land and
clicking on the checkbox scrolls to wherever it is.
*/
div:has(input[type="checkbox"]) {
    position: relative;
    display: flex;
    align-items: center;
}

input[type="checkbox"] + label {
    position: relative;
    height: 100%;
    line-height: var(--checkbox-height);
    vertical-align: bottom;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: var(--checkbox-margin) 0;

    left: calc((var(--checkbox-width) + var(--checkbox-margin)));
}

/* Styles the checkbox's background */
input[type="checkbox"] + label::before {
    content: '';
    background-color: var(--input-invalid-color);
    border-radius: 20px;
    line-height: 20px;
    box-shadow: 0 2px 2px #22222255;

    position: absolute;
    display: inline-block;
    height: var(--checkbox-height);
    width: var(--checkbox-width);
    left: calc(-1 * (var(--checkbox-width) + var(--checkbox-margin)));

    top: 50%;
    transform: translateY(-50%);

    transition: all 250ms;
}

/* Changes the checkbox's background color when checked */
input[type="checkbox"]:checked + label::before {
    background-color: var(--input-success-color);
}

/* Styles the checkbox's little notch */
input[type="checkbox"] + label::after {
    content: '';
    background-color: var(--fore-color);
    border-radius: 100%;
    box-shadow: 0 1px 1px #22222222;

    height: calc(var(--checkbox-height) * 1.1);
    width: calc(var(--checkbox-height) * 1.1);
    position: absolute;
    left: calc(-1 * (var(--checkbox-width) + var(--checkbox-margin)));

    top: 50%;
    transform: translateY(-50%);

    transition: all 250ms;
}

/* Shifts the notch over to the other side of the checkbox when it is 
checked */
input[type="checkbox"]:checked + label::after {
    left: calc(-1 * (var(--checkbox-width) + var(--checkbox-margin)) + (var(--checkbox-width) + var(--checkbox-margin)) * .5);
}

form label:has(
    +input,
    +select,
    +textarea
):not(:has(+.combobox--input)):not(:has(
    +input:required, 
    +select:required,
    +textarea:required
))::after,
form .combobox-wrapper label:not(
    :has(+.combobox--input input:required)
)::after {
    content: ' (optional)';
    color: var(--popup-accent-color)
}

fieldset {
    border: none;
    padding: 0;
}

/* RADIO BUTTONS */

label.radio {
    --radio-size: 1.75em;
    --inner-size-ratio: 0.6;

    cursor: pointer;

    display: inline-block;
    position: relative;
    margin: calc(0.5 * var(--radio-size)) 0;
    padding-right: 0.35em;
}

label.radio input[type="radio"] {
    /* Fallback */
    accent-color: var(--primary-color);
    appearance: none;

    position: absolute;
    z-index: -1;
    opacity: 0;
}

label.radio input[type="radio"] + span {
    margin-left: calc(var(--radio-size) + .25em);
}

label.radio input[type="radio"] + span::before {
    content: "";

    display: block;
    position: absolute;
    margin: auto;
    inset: 0 100% 0 0;
    width: var(--radio-size);
    height: var(--radio-size);

    border-radius: 50%;
    border: 0.2em solid var(--popup-accent-color)
}

label.radio input[type="radio"] + span::after {
    content: "";

    display: block;
    position: absolute;
    margin: auto;
    inset: 0 calc(100% - var(--radio-size)) 0 0;
    width: calc(var(--inner-size-ratio) * var(--radio-size));
    height: calc(var(--inner-size-ratio) * var(--radio-size));

    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0;
    scale: 0;
}

label.radio input[type="radio"]:checked + span::after {
    opacity: 1;
    scale: 1;
    transition: opacity 100ms, scale 100ms;
}

label.radio input[type="radio"]:focus-visible + span::before {
    outline: var(--focus-visible-outline);
}

input[type="radio"]:checked {
    background-color: var(--primary-color);
}

label:has(input[type="radio"]) {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Svg Radio Button */

label.svg-radio {
   cursor: pointer; 
}

label.svg-radio:hover svg {
    background-color: var(--input-color);
}

label.svg-radio input:focus-visible + svg {
    outline: var(--focus-visible-outline);
}

label.svg-radio input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label.svg-radio input:checked + svg {
    background-color: var(--primary-color);
}

label.svg-radio svg {
    fill: var(--fore-color);
    border-radius: 4px;

    transition: background-color 150ms;
}

/* Select menu */

.combobox-wrapper {
    --listbox-max-height: 10rem;
    --listbox-item-padding: 0.35rem;

    position: relative;
    cursor: pointer;
}

.combobox-wrapper div {
    padding: 0;
    margin: 0;
}

.combobox--input input {
    width: 100%;
}

.combobox--input svg {
    position: absolute;
    margin: auto;
    top: 50%;
    bottom: 50%;
    right: 0;
    translate: 0 20%;

    fill: var(--fore-color);

    transition: transform 200ms;
}

.combobox--input input[aria-expanded="true"] ~ svg {
    transform: rotateZ(180deg);
}

.combobox-wrapper .listbox-wrapper {
    position: relative;
    z-index: 90;
}

.combobox-wrapper ul[role="listbox"] {
    position: absolute;
    list-style: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
    max-height: var(--listbox-max-height);
    overflow-x: hidden;
    overflow-y: auto;

    background-color: var(--select-options-color);
    border-radius: 4px;
    clip-path: inset(0 -6px -6px -6px);
    box-shadow: 0 0 6px black;

    transition: clip-path 200ms;
}

.combobox-wrapper:has(input[aria-expanded="false"]) .listbox-wrapper ul {
    clip-path: inset(0 0 100% 0);
    overflow: hidden;
}

.combobox-wrapper ul[role="listbox"] li {
    padding: var(--listbox-item-padding);
    transition: background-color 250ms;
}

.combobox-wrapper ul[role="listbox"] li[data-filtered="true"] {
    display: none;
}

.combobox-wrapper ul[role="listbox"] li:hover,
ul[role="listbox"]:not(:has(li:hover)) li[selected="true"] {
    background-color: var(--primary-color);
}

/* POPUP */

#popup[open] {
    position: absolute;
    display: grid;
    grid: 3rem 1fr 6rem / 1fr;
    align-items: start;

    padding: 1.5rem;
    min-width: 24rem;
    width: 50%;
    max-width: 25rem;
    min-height: 18rem;
    height: 30%;
    max-height: 25rem;
    overflow: hidden;

    border-radius: 0.5rem;
    background-color: var(--bg-color-start);
    box-shadow: 0 0 15px black;
    border: none;
    
    animation: dialog-show 350ms ease-in-out normal;
}

#popup .title {
    width: 100%;
    margin-bottom: 0;
    
    text-align: center;
    border-bottom: 0.3rem solid var(--popup-accent-color);
}

#popup .content {
    width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

#popup > form {
    justify-self: center;
    align-self: end;
}

#popup > form > * {
    margin: 0 4px;
}

dialog::backdrop {
    top: var(--header-height);
    background: rgba(0, 0, 0, 0.25);
}

@keyframes dialog-show {
    from {
        opacity: 0;
        translate: 0 10%;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes dialog-hide {
    from {
        opacity: 1;
        translate: 0;
    }

    to {
        opacity: 0;
        translate: 0 10%;
    }
}

.modal {
    overflow: hidden;
    padding: 1.5rem;
}

#modal-title {
    width: 100%;
    margin: 0;
    text-align: center;
    word-wrap: break-word;
}

#modal-body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    flex: 8;
    word-wrap: break-word;
    text-align: center;
}

#modal-button {
    flex: 1;
    width: 100%;
}

/* ==================================
UTILITY CLASSES
================================== */

.center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
  