/* ==================================
REMINDER FORM
================================== */

.reminder-form {
    --input-container-end-margin: 12px;

    color: inherit;
    font-size: var(--input-font-size);
    width: var(--input-char-size);
}

.reminder-form .input-container-grid {
    --columns: 10;
    --select-columns: 1;

    display: grid;
    grid-template-columns: repeat(1fr, var(--columns));
    grid-template-rows: auto 1fr;
    gap: 2px 0;
    margin-bottom: var(--input-container-end-margin);
}

.reminder-form .input-container-flex {
    display: flex;
    flex-direction: row;
    gap: 2px 0;
    margin-bottom: var(--input-container-end-margin);
}

.reminder-form .input-container-grid .units {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;
    font-size: var(--input-font-size);
    text-align: center;

    background-color: var(--input-color);
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    box-shadow: 0 0.75px 3px black;

    grid-column: calc(var(--columns) - var(--select-columns) + 1) / span calc(var(--select-columns));
}

.time-input {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-rows: 0.5fr 1fr min-content;
    width: 100%;
    justify-content: center;
    align-items: center;

    gap: 0px 4px;
    margin-bottom: var(--input-container-end-margin);
}

.time-input .hour-label {
    grid-column: 1;
}

.time-input .minute-label {
    grid-column: 3;
}

.time-input .second-label {
    grid-column: 5;
}

.time-input #reminder-interval-hours {
    grid-row: 2;
    grid-column: 1;
}

.time-input #reminder-interval-hours+.error-message {
    grid-row: 3;
    grid-column: 1;
}

.time-input #reminder-interval-minutes+.error-message {
    grid-row: 3;
    grid-column: 3;
}

.time-input #reminder-interval-seconds+.error-message {
    grid-row: 3;
    grid-column: 5;
}

.time-input>span {
    font-weight: bolder;
}

/* .time-input>div { */
/*     display: flex; */
/*     flex-direction: column; */
/*     flex: 1; */
/* } */

.time-input input {
    text-align: center;
}

.reminder-form label,
legend {
    font-size: 1.2rem;
}

.reminder-form .input-container-grid>* {
    grid-column: 1 / span var(--columns);
}

.reminder-form .input-container-grid input:has(+.units) {
    grid-column: 1 / span calc(var(--columns) - var(--select-columns));
}

.reminder-form>input[type="checkbox"]+label {
    justify-self: start;
}

.reminder-form button[type="submit"] {
    grid-column: 1 / span 2;
    margin-right: 4px;
}

.reminder-form button[type="reset"] {
    grid-column: 3 / span 1;
}

.error-message {
    color: var(--input-invalid-color);
    font-size: 1rem;
    display: none;
    margin: 0;
}

.reminder-form :is(input, textarea):not(:placeholder-shown):invalid~.error-message,
[dirty]:not(:valid, :disabled):is(input, textarea, select)~.error-message {
    display: inline;
}

.reminder-form>p {
    text-align: right;
}

.reminder-form>p span {
    color: var(--input-invalid-color)
}

/* CUSTOM FORMATTING */

#reminder-audio-combobox {
    flex: 9;
}

#play-reminder-audio {
    flex: 1;
    margin-top: 20px;
}

#upload-reminder-audio {
    flex: 1;
    margin-top: 20px;
}

form label:not(.time-input *):has(+input,
    +select,
    +textarea):not(:has(+.combobox--input)):not(:has(+input:required,
        +select:required,
        +textarea:required))::after {
    content: ' (optional)';
    color: var(--popup-accent-color)
}
