:root {
    --bg-color: rgb(31, 31, 39);
    --input-color: rgb(90, 87, 87);
    --input-invalid-color: #FA2333;
    --input-success-color: #22F095;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background:var(--bg-color) !important;
    min-block-size: 100dvh;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    color: white;
    background: #8a2be2;
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

section > * {
    margin: 16px;
}

.user-input > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section div > * {
    margin: 0px 8px;
}

section * {
    font-size: 1.35rem;
}

#reminder-list {
    min-height: 200px;
    max-height: 1000px;
    height: 80dvh;

    width: 90%;
    min-width: 450px;
    max-width: 780px;
}

#reminder-list > ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #282833;
    border-radius: 12px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    margin: auto;
    justify-content: unset;
    list-style: none;
    list-style-type: none;

    height: 100%;
    width: 100%;
}

#reminder-list > button {
    width: 100%;
}

.reminder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border-radius: 8px;
    padding: 10px;
    margin: 6px;
    box-shadow: 0 1px 2px black;
    background: var(--bg-color);
    width: 100%;
}

input,
button,
textarea {
    background-color: var(--input-color);
    border-radius: 4px;
    color: white;
    transition: all 250ms;
    padding: 8px;
    font-size: 1.25rem;
    border: 2px solid rgb(21, 21, 21);
    box-shadow: 0 2px 2px black;
}

button {
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#reminder-list li > button {
    min-width: 100px;
    padding: 15px;
    margin: 0px 4px;
}

button:focus-visible, 
button:hover {
    background-color: #8a2be2;
}

button[action="destructive"]:focus-visible, 
button[action="destructive"]:hover {
    background-color: var(--input-invalid-color);
}

.reminder-override, .reminder-penalty { 
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

input[type="checkbox"] {
    visibility: hidden;
    position: relative;
    height: 1.75rem;
    width: 3.5rem;
}

input[type="checkbox"]::before {
    content: '';
    visibility: visible;
    inset: 0;
    position: absolute;
    background-color: var(--input-invalid-color);
    border-radius: 20px;
    line-height: 20px;
    border: 2px solid rgb(21, 21, 21);
    box-shadow: 0 2px 2px black;
    transition: all 250ms;
}

input[type="checkbox"]:checked::before {
    background-color: var(--input-success-color);
}

input[type="checkbox"]::after {
    content: '';
    visibility: visible;
    left: 0;
    top: 0;
    position: absolute;
    background-color: blueviolet;
    border-radius: 100%;
    height: 100%;
    width: 50%;
    box-shadow: 0 2px 2px black;
    transition: all 250ms;
}

input[type="checkbox"]:checked::after {
    left: 50%;
}

div:has(input[type="checkbox"]:checked) + .reminder-override {
    opacity: 1;
    position: relative;
    visibility: visible;
}

div:has(input[type="checkbox"]:checked) + .reminder-penalty {
    opacity: 1;
    position: relative;
    visibility: visible;
}

.user-input textarea {
    display: block;
    resize: none;
}

.user-input .message-input {
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.user-input input:invalid {
    border-color: var(--input-invalid-color);
}

.next-timer-play {
    text-decoration: underline blueviolet;
    font-style: normal;
}

.popup-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(0,0,0,0.2), rgb(0,0,0,0.35));
    visibility: hidden;
}

.popup-container > section {
    padding: 8px;
    background-color: var(--bg-color);
    box-shadow: 0 8px 8px black;
    border-radius: 16px;
    border: blueviolet 1px solid;

    justify-content: space-between;

    width: 40%;
    min-width: 100px;
    max-width: 500px;

    height: 30%;
    min-height: 100px;
    max-height: 350px;
}

.popup-container > section > * {
    margin: 4px;
    text-align: center;
}

.popup-container > section > h2 {
    font-size: 3.5ch;
    font-weight: bold;
    text-decoration: underline;
}

.popup-button {
    visibility: inherit;
}

.show-popup {
    visibility: visible;
    animation: popup-in 250ms ease-in-out;
}

.hide-popup {
    animation: popup-out 250ms ease-in-out;
}

@keyframes popup-in {
    from {
        opacity: 0;
        transform: translateY(6%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popup-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(6%);
    }

    100% {
        visibility: hidden;
    }
}