:root {
    --bg-color: rgb(31, 31, 39);
    --input-color: rgb(90, 87, 87);
    --input-invalid-color: rgb(146, 13, 13);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background:var(--bg-color) !important;
    min-block-size: 100dvh;
    margin: auto;
}

header {
    color: white;
    background: blueviolet;
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-input, .timer-form, .update-timer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.update-timer-form > *, .timer-form > * {
    margin: 16px;
}

.timer-form div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timer-form div > * {
    margin: 0px 8px;
}

.user-input * {
    font-size: 1.5rem;
}

.timer-form input,
.user-input button,
.timer-form textarea {
    background-color: var(--input-color);
    border: 2px solid rgb(21, 21, 21);
    border-radius: 4px;
    color: white;
    transition: all 250ms;
    padding: 8px;
    font-size: 1.25rem;
    box-shadow: 0 2px 2px black;
}

.user-input button {
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.user-input button:focus,
.user-input button:hover {
    background-color: blueviolet;
}

.user-input #reminder-start-override {
    display: none;
}

input[type="checkbox"] {
    height: 2.6rem;
    width: 2.6rem;
    accent-color: blueviolet;
    box-shadow: 0 2px 2px black;
}

input[type="checkbox"]:checked + label + #reminder-start-override {
    display: inline-block;
}

.timer-form textarea {
    display: block;
    resize: none;
}

.timer-form .message-input {
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.timer-form input:invalid {
    border-color: var(--input-invalid-color);
}

.update-timer-form {
    display: none;
}

.next-timer-play {
    text-decoration: underline blueviolet;
    font-style: normal;
}